.nav {
	background-color: #111111;
	color: white;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
}

.nav__links {
	color: inherit;
	text-decoration: none;
}

.nav__logo {
	width: 100px;
	object-fit: contain;
	margin: 0 10px;
}

.nav__search {
	display: flex;
	align-items: center;
	width: 100%;
}

.nav__input {
	min-width: 50px;
	border: none;
	height: 20px;
	padding: 4px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	flex: 1;
}

.nav__searchbtn {
	height: 28px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #febd69;
	border: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
}

.nav__icon {
	width: 20px;
}

.nav__actions {
	display: flex;
	margin: 0 10px;
}

.nav__act {
	width: 60px;
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	cursor: pointer;
}

.nav__actlineone {
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.nav__actlinetwo {
	font-size: 13px;
	font-weight: 800;
}
.basket_icon {
	width: 25px;
	margin: 0 10px 0 5px;
}

.nav__basketact {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.nav {
		height: 10vh;
		width: 100%;
	}

	.nav__search {
		position: absolute;
		width: calc(100% - 40px);
		top: 8vh;
		padding: 20px;
		background-color: #111111;
	}
}

@media screen and (max-width: 330px) {
	.nav__act {
		width: 60px;
		display: flex;
		flex-direction: column;
		margin: 0 2px;
		cursor: pointer;
	}

	.nav__logo {
		width: 80px;
		object-fit: contain;
		margin: 0 1px 0 10px;
	}

	.basket_icon {
		width: 25px;
		margin: 0 5px 0 2px;
	}
}
